class Exp extends Object {

    // type-check successful
    int exp(int x) {
        {
            int y;
            {
                int result = 1;
                while ((x >= 0)) {
                    y = result;
                    result = 0;
                    while ((y >= 0)) {
                        result = (result + 2);
                        y = (y - 1);
                    };
                    x = (x - 1);
                };
                result;
            };
        };
    }

    // type-check successful
    void main(String[] args) {
        {
            int res = this.exp(3);
        };
    }
}
